* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.color-gold,.color-gold:active {
  color: gold
}

.underline-none {
  text-decoration: none;
}

.hover-underline-gold:hover {
  text-decoration: underline;
}