<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Members table
    </title>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  </head>
  <body>
    @component('components/table', { objects: members, properties: ['index', 'firstName', 'lastName'] })
      
    @end
    <div>
      @if(page>1)
        <a href="?page={{page-1}}&perPage={{perPage}}">Poprzednia strona</a>
      @endif

    @if(members.length == perPage)
        <a href="?page={{page+1}}&perPage={{perPage}}">Następna strona</a>
    @endif
    </div>
  </body>
</html>
