<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>
      Solvro Members
    </title>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
  </head>

  <body>
    <h1>
      New member created!
    </h1>
    <button onclick="location.href='/'">Home</button>
  </body>
</html>
