<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>
      Members
    </title>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
  </head>

  <body>
    @!component('components/table', {
      rows: members,
      page: page,
      fields: ['id', 'firstName', 'lastName', 'nic'],
      customFields: customFields
    })
    <button onclick="location.href='/new'">New</button>
  </body>
</html>
