<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Create member
    </title>

    @vite(['resources/css/app.css'])
  </head>
  <body>
    <h1>Add new member</h1>

    @each(error in flashMessages.get('errors'))
      <p style="color:red">{{error}}</p>
    @endeach

    <form action='/create' method='POST' id='formik'>
        {{ csrfField() }}
        <label for="index">index</label>
        <input type="text" name="index" id="index" value="{{ old('index') }}">
        <label for="firstName">first name</label>
        <input type="text" name="firstName" id="firstName" value="{{ old('firstName') }}">
        <label for="lastName">last name</label>
        <input type="text" name="lastName" id="lastName" value="{{ old('lastName') }}">
        <button type='submit'>Send</button> 
    </form>
    <label for="status">status</label>
    <select name='status' id='status' form='formik'>
        <option value='wdrożeniowy' {{ old('status') == 'wdrożeniowy' ? 'selected' : '' }}>wdrożeniowy</option>
        <option value='aktywny' {{ old('status') == 'aktywny' ? 'selected' : '' }}>aktywny</option>
        <option value='honorowy' {{ old('status') == 'honorowy' ? 'selected' : '' }}>honorowy</option>
        <option value='nieaktywny' {{ old('status') == 'nieaktywny' ? 'selected' : '' }}>nieaktywny</option>
    </select>
  </body>
</html>
