<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Members view
    </title>

    @vite(['resources/css/app.css'])
  </head>
  <body>
    <h1>
      Members table
    </h1>
    <table>
        <tr>
            <th>Index</th>
            <th>firstName</th>
            <th>lastName</th>
        </tr>
        @each(member in members)
        <tr>
            <td>{{member.index}}</td>
            <td>{{member.firstName}}</td>
            <td>{{member.lastName}}</td>
        </tr>
        @endeach
    </table>
  </body>
</html>
