<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Details for {{member.firstName}} {{member.lastName}}</title>
        @vite(['resources/css/app.css', 'resources/js/app.js'])
    </head>
    <body style="text-align: center">
        <h1>Details for member: {{member.firstName}} {{member.lastName}}</h1>
        <ul>
            <li>Index: {{member.index}}</li>
            <li>First name: {{member.firstName}}</li>
            <li>Last name: {{member.lastName}}</li>
            <li>Email: {{member.index}}@student.pwr.edu.pl</li>
            <li>Created at: {{member.createdAt.toFormat('yyyy-LL-dd HH:mm:ss')}}</li>
            <li>Updated at: {{member.updatedAt.toFormat('yyyy-LL-dd HH:mm:ss')}}</li>
        </ul>
        <br><br>
        <h2><a href="/">Return</a></h2>
    </body>
</html>
