<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ student.firstName }} {{ student.lastName }}</title>
  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>
<body>
  <form style="text-align: center">
    <h2>Index: {{ student.index }}</h2>
    <h2>First name: {{ student.firstName }}</h2>
    <h2>Last name: {{ student.lastName }}</h2>
    <h2>Status: {{ student.status.toLowerCase() }}</h2>
    <h2>Email: {{ student.email }}</h2>
    <h2>Created: {{ student.createdAt.toFormat('dd-MM-yyyy TT') }}</h2>
    <h2>Last update: {{ student.updatedAt.toFormat('dd-MM-yyyy TT') }}</h2>
    <button type="submit" formaction="/">Back</button>
   </form>
</body>
</html>
