<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Students</title>
  <style>
    .center {
      margin-left: auto;
      margin-right: auto;
    }

    td {
      padding-left: 10px;
      padding-right: 10px;
    }
  </style>
  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>
<body>
  @if(students)
    <table class="center">
      <tr>
        <th>Index</th>
        <th>First name</th>
        <th>Last name</th>
      </tr>
      @each(student in students)
        <tr>
          <td><a href="/students/{{ student.index }}">{{ student.index }}</a></td>
          <td>{{ student.firstName }}</td>
          <td>{{ student.lastName }}</td>
        </tr>
      @endeach
    </table>
    @else
      <p>No students available.</p>
    @end

    @if(flashMessages.get('student.created'))
        <p style="text-align: center; color: green">Student created successfully!</p>
    @endif

    <form style="text-align: center">
      <button type="submit" formaction="/students/create">Add student</button>
    </form>
</body>
</html>
