<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Club members list</title>

  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body>
    <h1>Club Members List</h1>
    <a href="/members/create" class="add-member-button">Add new person</a>

    @flashMessage('add-member-notification')
        <p style="color: green; text-align: center; margin: 20px"><strong>{{ $message }}</strong></p>
    @end 

    @!component('components/table', {
      data: members,
      columns: [
      { key: 'index', label: 'Index', class: 'index-column'},
      { key: 'firstName', label: 'First name' },
      { key: 'lastName', label: 'Last name' },
      [{ key: 'details', label: 'Details', render: (member) => `<a href='/members/${member.index}'>Details</a>` }]
    ]}) 
    
    
    <div class="pagination">

      @if(members.currentPage > 1)
        <a href="/members/?page={{members.currentPage-1}}">Previous page</a>
      @endif

      @each(anchor in members.getUrlsForRange(1, members.lastPage))
        <a href="/members{{ anchor.url }}">  {{ anchor.page }}  </a>
      @endeach

      @if(members.currentPage < members.lastPage)
        <a href="/members/?page={{members.currentPage+1}}">Next page</a>
      @endif

    </div>

</body>
</html>
