<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Club members list</title>

  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body>
  <h1 style="text-align:center">Club Members List</h1>
  <table>
    <thead>
      <tr>
        <th>Index</th>
        <th>First name</th>
        <th>Last name</th>
      </tr>
    </thead>
    <tbody>
      @each(member in members)
      <tr>
        <td><a href="/members/{{ member.index }}">{{ member.index }}</a></td>
        <td>{{ member.firstName }}</td>
        <td>{{ member.lastName }}</td>
      </tr>
      @endeach
    </tbody>
  </table>
</body>
</html>
