<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Members table </title>

    @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body>
    <a href="/members"><-Powrót</a>
    <h2>Index: {{member.index}}</h2>
    <h2>Imię: {{member.first_name}}</h2>
    <h2>Nazwisko: {{member.last_name}}</h2>
    <h2>Status: {{member.status}}</h2>
    <h2>Mail: {{member.index}}@student.pwr.edu.pl</h2>
</body>

</html>