<!DOCTYPE html>
<html>
<head>
    <title>Creative Email</title>
</head>
<body>
    <h1>Hello from the TypeScript and AdonisJs World!</h1>
    <p>
        Dear <strong>{{ name }}</strong>,<br/>
        I hope you're having a fantastic day at Solvro! Here's a special email crafted with love from 
        the world of <em>Node.js</em> and <em>AdonisJs</em>. I hope this brings a smile to your face!
    </p>
    <p>Cheers,<br/>Your creative student 🚀</p>
</body>
</html>
