<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Members table </title>

    @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body>
<a href="/members/create">Dodaj nowego członka</a>
@flashMessage('member-notification')
<p style="color: green"> {{ $message }}</p>
@end

    <table>
        <tr>
            <th>Index</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Szczegóły</th>
        </tr>

        @each(member in members)
        <tr>
            <td>{{member.index}}</td>
            <td>{{member.firstName}}</td>
            <td>{{member.lastName}}</td>
            <td>
                <a href="/members/{{member.index}}">Szczegóły -></a>
            </td>
        </tr>
        @endeach

    </table>
    <hr />

    Strony:
    @each(anchor in members.getUrlsForRange(1, members.lastPage))
        <a href="/members{{ anchor.url }}">
        {{ anchor.page }}
        </a>
     @endeach

</body>

</html>