

<table>
    <thead>
        <tr>
            @each(property in properties)
                <th>{{sentenceCase(property)}}</th>  
            @end
        </tr>
    </thead>
    <tbody>
        @each(object in objects)
            <tr>
                @each(property in properties)
                    <td>{{object[property]}}</td>
                @endeach
            </tr>
        @endeach
    </tbody>
</table>